# Assignment - 02
## Variables

Q1.swap that two value of two variable

In [1]:
num1 = 10
num2 = 20
print('Before swaping the value num1 = {} and num2 = {}'.format( num1, num2))
temp = num1
num1 = num2
num2 = num1
print('After swaping the value num1 = {} and num2 = {}'.format( num1, num2))

Before swaping the value num1 = 10 and num2 = 20
After swaping the value num1 = 20 and num2 = 20

Q2.Calculate the area of the rectangle given its length and width

In [2]:
length = 20
width = 15

area = length * width
print('Area of the rectangle is : {}'.format(area))

Area of the rectangle is : 300

Q3. Convert temperature from fahrenheit to celcious

formula = <b> °C = (°F - 32) × 5/9 </b> <br>
<font color = red> The human body temparature range in fahrenheit scal : </font>
<i> 97°F (36.1°C) to 99°F (37.2°C). </i>

In [3]:
far_tem = 98
celcious = format((far_tem - 32)*(5/9), '0.2f')

print('The temparature in Calcious scal is : {}'.format(celcious))

The temparature in Calcious scal is : 36.67

Q4.Calculate the Volume of the sphare given its radius

formula : <b>V = 4/3 π r³</b>

In [4]:
radius = 2
pi = 3.1416

volume = format((4/3) * pi * radius**3 , '0.2f')
print('The volume of the sphare is : {}'.format(volume))

The volume of the sphare is : 33.51

Q5. find the average of three numbers

In [5]:
num1 = 12
num2 = 15
num3 = 13

avg = (num1 + num2 + num3)
print('The average of the three numbers is : {}'.format(avg))

The average of the three numbers is : 40

## if - elif - else

Q6.Determine if number is even or odd

In [6]:
num = 25
if num % 2 == 0:
    print('The number is even')
else:
    print('The number is odd')

The number is odd

Q7. Find the maximum of three number

In [7]:
num1 = 10
num2 = 20
num3 = 15

if num1 > num2:
    if num1> num3:
        print("Here three number is {}, {}, {}, the maximum number is {}".format(num1, num2, num3, num1))

elif num2>num1:
    if num2>num3:
        print("Here three number is {}, {}, {}, the maximum number is {}".format(num1, num2, num3, num2))

else:
    print("Here three number is {}, {}, {}, the maximum number is {}".format(num1, num2, num3, num3))

Here three number is 10, 20, 15, the maximum number is 20

Q8.if a year is leap year or not

formula : <br>
    <b>*Year is divisible by 400 then leap year</b> <br>
     <b>*is divisible by 100 not leap year</b> <br>
    <b>*every leap year is divisible by 4

In [8]:
year = 2012

if year % 400 == 0:
    print('The year of {} is leap year'.format(year))

elif year % 100 == 0:
    print('The year of {} is not leap year'.format(year))
elif year % 4 == 0:
    print('The year of {} is leap year'.format(year))
else: 
    print('The year of {} is not leap year'.format(year))

The year of 2012 is leap year

Q9.Determine a number is positive, negative or zero

In [9]:
num = 30

if num == 0:
    print('The number is zero')
elif num > 0:
    print('The number {} is positive'.format(num))
else:
    print('The number {} is negative'.format(num))

The number 30 is positive

Q10. Calculate gread based on a given percentage

In [10]:
percentage = 32

if percentage < 100 and percentage >= 80:
    print('Your grade is A+')
elif percentage < 80 and percentage >= 70:
    print('Your grade is A')
elif percentage < 70 and percentage >= 60:
    print('Your grade is A-')
elif percentage < 60 and percentage >= 50:
    print('Your grade is B')
elif percentage < 50 and percentage >= 40:
    print('Your grade is C')
elif percentage < 40 and percentage >= 33:
    print('Your grade is D')
else:
    print('Your grade is F')
print('Thank you')

Your grade is F
Thank you

## For loop

Q11.print the n first natural number

In [ ]:
n = int(input("Give the input to print n natural number : "))
for i in range(1,n+1 ):
    print(i, end="  ")

Q12. Calculate the factorial the number

In [ ]:
num = int(input("Enter a number"))
fact = 1

for i in range(1,num+1):
    fact = fact * i
print(fact)

Q13. Generate a Fibonacchi sequence of length length n

In [ ]:
n = int(input('Enter a integer number : '))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

14. Calculate the number is prime or not

In [ ]:
n = 10
for i in range(2,n):
    if n % i== 0:
        print("The number {} is not prime".format(n))
        break
    else:
        print("The number {} is prime number".format(n))

Q15. multiplication table creating

In [12]:
n = 5
print('The multipication table of {}'.format(n))

for i in range(1,11):
    
    mul = n * i
    
    print('{} x {} = {} '.format(n, i, mul))

The multipication table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q16.Find the sum of all even numbers between 1 to n

In [13]:
n = 10
total = 0

while n > 0:
    n = n - 1
    if n%2 == 0:
        total = total + n
        print(n, end=' ')
print('\nThe total sum of even number is {}'.format(total))

8 6 4 2 0
The total sum of even number is 20

Q17.Reverse a given number

In [15]:
num = int(input("Enter a integer number : "))
print('The original number is {}'.format(num))
reverse = 0

while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10
print('The reverse number is {}'.format(reverse))

Enter a integer number :  125493

The original number is 125493
The reverse number is 394521

Q18.check if given srting, is a palindromic

In [36]:
original = 'madam'
reverse = ''
for i in original:
    reverse = i + reverse 

if original == reverse:
    print('The word {} is palindromic'.format(original))
else:
    print('The word {} is not palindromic'.format(original))

The word madam is palindromic

Q19. Generate a random number and allows the user to guess it

In [38]:
import random

num = int(input("Gauss a number 1 to 10 : "))

value = random.randint(1, 10)
if num == value:
    print('Your guess is correct. Gauss number is {}'.format(num))
else:
    print('Your guess is not correct. Gauss number is {}'.format(value))

Gauss a number 1 to 10 :  2

Your guess is not correct. Gauss number is 1

Q20. Find the GCD (greatest common divisor) of two number.

In [44]:
num1 = 60
num2 = 24

n1 = num1
n2 = num2

while n2!= 0:
    rem = n1 % n2
    n1 = n2
    n2 = rem

print('Two numbers {}, {} gcd is {}'.format(num1, num2, n1))

Two numbers 60, 24 gcd is 12