In [1]:
import re

In [2]:
# search the string to see if it starts with "The" and ends with "Spains"

txt = 'The rain in Spain'
x = re.search('^The.*Spain$', txt) 
x

In [3]:
# print a list of all matches

txt = 'The rain in Spain'
x = re.findall('ai', txt)
x

['ai', 'ai']

In [4]:
# if no matches are found , an empty list is return

txt = 'The rain in Spain'
x = re.findall('Portugal', txt)
x

[]

In [7]:
# the search function searches the string for a match, and return match.

txt = 'The rain in Spain'
x = re.search('\s', txt)  # first white-space character is located in position: 3    syntex '\s'
x.start()

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\4278002607.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.search('\s', txt)  # first white-space character is located in position: 3    syntex '\s'

3

In [10]:
txt = 'The rain in Spain'
x = re.search('Portugal', txt)   #  search, and not find then return None 
print(x)

None

In [12]:

txt = 'The rain in Spain'
x = re.split('\s', txt)    # spliting with respect to space
x

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\2126436587.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.split('\s', txt)    # spliting with respect to space

['The', 'rain', 'in', 'Spain']

In [16]:
# split the string only the first occurence

txt = 'The rain in Spain'
x = re.split('\s', txt, 1)
print(x)

['The', 'rain in Spain']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\2345466260.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split('\s', txt, 1)

In [18]:
# split the string only the first and second occurence

txt = 'The rain in Spain'
x = re.split('\s', txt, 2)
print(x)

['The', 'rain', 'in Spain']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\3939097514.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split('\s', txt, 2)

In [19]:
# replace every white space character with the number 9

txt = 'The rain in Spain'
x = re.sub('\s', '9',txt)
print(x)

The9rain9in9Spain

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\608154942.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub('\s', '9',txt)

In [20]:

# replace the first 2 occurence

txt = 'The rain in Spain'
x = re.sub('\s', '9',txt, 2)
print(x)

The9rain9in Spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\3098303029.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub('\s', '9',txt, 2)

In [23]:
# Do a search that will return a Match Object

txt = 'The rain in Spain'
x = re.search('ai', txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [25]:

txt = 'The rain in Spain'
x = re.search(r'\bS\w+',txt)   # uppercase S is beginning of a word print position
print(x.span())

(12, 17)

In [27]:
txt = 'The rain in Spain'
x = re.search(r'\bS\w+',txt)   # uppercase S is beginning of a word print position
print(x.string)  # the string property return the search string

The rain in Spain

In [28]:
txt = 'The rain in Spain'
x = re.search(r'\bS\w+',txt)   # uppercase S is beginning of a word print position
print(x.group())  # the group return specific word

Spain

In [30]:
# metacharacter


txt = 'The rain in Spain'
x = re.findall('[a-m]', txt)  # find all character a to m
x

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [35]:
# find all digit character

txt = 'That will be 59 dollars'
x = re.findall('\d', txt)
x

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\3325505008.py:4: SyntaxWarning: invalid escape sequence '\d'
  x = re.findall('\d', txt)

['5', '9']

In [39]:
# search for a sequence that start with 'he' , followed by 
# two (any) characters, and an 'o':


txt = 'hello planet'
x = re.findall('he..o', txt)
x

['hello']

In [43]:
txt = 'hello planet'
x = re.findall('^hello', txt)   # start with 'hello' word
if x:
    print("Yes, the string starts with 'hello'")
else:
    print('No match')

Yes, the string starts with 'hello'

In [44]:
# check ends with 'planet'

txt = 'hello planet'
x = re.findall('planet$', txt)
if x:
    print('ends with planet')
else:
    print('no match')

ends with planet

In [51]:
txt = 'hello planet'
x = re.findall("he.*o", txt)     # 'he' zero or more charecter 'o'
x

['hello']

In [52]:
txt = 'hello planet'
x = re.findall("he.+o", txt) # 'he' one or more charecter 'o'
x

['hello']

In [53]:
txt = 'hello planet'
x = re.findall("he.?o", txt) # 'he' zero or one charecter 'o'
x

[]

In [54]:
txt = 'hello planet'
x = re.findall("he.{2}o", txt) # 'he' exectly {2} charecter 'o'
x

['hello']

In [56]:
txt = 'The rain in Spain falls mainly in the plain!'
x = re.findall('falls|stays', txt)
print(x)

if x:
    print('Yes, there is at least one match!')
else:
    print('no match')

['falls']
Yes, there is at least one match!

In [58]:
txt = 'The rain in Spain'
x = re.findall("\AThe", txt) # 'he' one or more charecter 'o'
if x:
    print('Yes, there is a match!')
else:
    print('No match')

Yes, there is a match!

<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:2: SyntaxWarning: invalid escape sequence '\A'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\4215947294.py:2: SyntaxWarning: invalid escape sequence '\A'
  x = re.findall("\AThe", txt) # 'he' one or more charecter 'o'

In [61]:
txt = 'The rain in Spain'
x = re.findall(r'\bain', txt)  # find the first of the word
if x:
    print('Yes, there is at least one match!')
else:
    print('No match')

No match

In [64]:
txt = 'The rain in Spain'
x = re.findall(r'ain\b', txt)  # find the last of the word
print(x)
if x:
    print('Yes, there is at least one match!')
else:
    print('No match')

['ain', 'ain']
Yes, there is at least one match!

In [65]:
txt = 'The rain in Spain'
x = re.findall(r'\Bain', txt)  # check if 'ain' is present, but NOT at the beginning of a word.
print(x)
if x:
    print('Yes, there is at least one match!')
else:
    print('No match')

['ain', 'ain']
Yes, there is at least one match!

In [66]:
txt = 'The rain in Spain'
x = re.findall(r'ain\B', txt)  # check if 'ain' is present, but NOT at the end of a word.
print(x)
if x:
    print('Yes, there is at least one match!')
else:
    print('No match')

[]
No match

In [71]:
txt = 'The rain in Spain'
x = re.findall('\d' , txt)  # digit
print(x)

[]

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\745285841.py:2: SyntaxWarning: invalid escape sequence '\d'
  x = re.findall('\d' , txt)  # digit

In [70]:
txt = 'The rain in Spain'
x = re.findall('\D' , txt)  # find non digit character
print(x)

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\317798957.py:2: SyntaxWarning: invalid escape sequence '\D'
  x = re.findall('\D' , txt)  # find non digit character

In [72]:
# return every white space character

txt = 'The rain in Spain'
x = re.findall('\s' , txt)  # white space character
print(x)

[' ', ' ', ' ']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\1375622297.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.findall('\s' , txt)  # check if ain is present, but NOT at the end of a word.

In [74]:
txt = 'The rain in Spain'
x = re.findall('\S' , txt)  # non space character
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\1286439504.py:2: SyntaxWarning: invalid escape sequence '\S'
  x = re.findall('\S' , txt)  # non space character

In [80]:
txt = 'The rain in Spain 1234 _ _'
x = re.findall('\w' , txt)  # return a-z, A-Z, 0-9, _
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n', '1', '2', '3', '4', '_', '_']

<>:2: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\1190974422.py:2: SyntaxWarning: invalid escape sequence '\w'
  x = re.findall('\w' , txt)  # return a-z, A-Z, 0-9, _

In [83]:
# return !, ?, ' '
txt = 'The rain! in Spain?'
x = re.findall('\W' , txt)  # check if ain is present, but NOT at the end of a word.
print(x)

[' ', '!', ' ', ' ', '?']

<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\W'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\3121167226.py:3: SyntaxWarning: invalid escape sequence '\W'
  x = re.findall('\W' , txt)  # check if ain is present, but NOT at the end of a word.

In [84]:
# check if the string ends with 'Spain'

txt = 'The rain in Spain'
x = re.findall('Spain\Z' , txt)  
print(x)

['Spain']

<>:4: SyntaxWarning: invalid escape sequence '\Z'
<>:4: SyntaxWarning: invalid escape sequence '\Z'
C:\Users\HP1\AppData\Local\Temp\ipykernel_21340\2859962060.py:4: SyntaxWarning: invalid escape sequence '\Z'
  x = re.findall('Spain\Z' , txt)  # check if ain is present, but NOT at the end of a word.

In [86]:
txt = 'The rain in Spain'
x = re.findall('[arn]' , txt)  
print(x)

['r', 'a', 'n', 'n', 'a', 'n']

In [87]:
txt = 'The rain in Spain'
x = re.findall('[a-n]' , txt)  
print(x)

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']

In [88]:
txt = 'The rain in Spain'
x = re.findall('[^arn]' , txt)  
print(x)

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']

In [89]:
txt = '1234556787'
x = re.findall('[1234]' , txt)  
print(x)

['1', '2', '3', '4']

In [90]:
txt = '1234556787'
x = re.findall('[0-9]' , txt)  
print(x)

['1', '2', '3', '4', '5', '5', '6', '7', '8', '7']

In [91]:
txt = '8 times before 11:45 AM'
x = re.findall('[0-5][0-9]', txt)
x

['11', '45']

In [93]:
txt = '8 times before 11:45 AM'
x = re.findall('[a-zA-Z]', txt)
x

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']